<!DOCTYPE html>
<html lang="en">
<%- include('partials/scripts.ejs') %>

  <body>
    <%- include('partials/homeHeader.ejs') %>
      <script src="/js/socketio.js"></script>
      <style>
        #chat-form {
          display: none;
        }

        #messages {
          list-style: none;
          width: 100%;
        }

        #messages li {
          margin-bottom: 10px;
        }

        li.friend {
          background-color: aqua;
          border-radius: 10px;
          padding: 10px;
          margin-right: 100px;
        }

        li.self {
          background-color: coral;
          border-radius: 10px;
          padding: 10px;
          margin-left: 100px;
        }
      </style>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="col">
              <ul id="users"></ul>
            </div>
            <form id="chat-form">
              <p id="currentUser"></p>
              <p>
                <input id="chat-message" name="chat-message" />
                <button>Send</button>
              </p>
            </form>
            <form id="login-form">
              <p>
                <input id="username" name="username" />
                <button>Login</button>
              </p>
            </form>
          </div>
          <div class="col">
            <ul id="messages"></ul>
          </div>
        </div>
      </div>
      <script>
        const socket = io();

        const chatForm = document.getElementById("chat-form");
        const input = document.getElementById("chat-message");
        const messages = document.getElementById("messages");

        const loginForm = document.getElementById("login-form");
        const username = document.getElementById("username");
        const currentUser = document.getElementById("currentUser");

        const usersList = document.getElementById("users");

        function addMessgqeToList(msg, isSelf) {
          const chatMessage = document.createElement("li");
          const { message, user } = msg;
          chatMessage.innerText = `${user}: ${message}`;
          chatMessage.classList.add(isSelf ? "self" : "friend");
        }

        function addMessageToList(msg, isSelf) {
          const chatMessage = document.createElement("li");
          const { message, user } = msg;
          chatMessage.innerText = `${user}: ${message}`;
          chatMessage.classList.add(isSelf ? "self" : "friend")
          messages.appendChild(chatMessage);
        }

        loginForm.addEventListener("submit", (e) => {
          e.preventDefault();
          if (username.value !== "") {
            socket.emit("login", username.value);
            loginForm.style.display = "none";
            chatForm.style.display = "block";
            currentUser.innerText = `Currently logged in as: ${username.value}`;
            username.value = "";
          }
        })

        chatForm.addEventListener("submit", (e) => {
          e.preventDefault();
          if (input.value !== "") {
            socket.emit("chat-message", input.value);
            addMessageToList({ message : input.value, user : "me" }, true)
            input.value = "";
          }
        });

        socket.on("message", (message) => {
          addMessageToList(message, false)
        })

        socket.on("newuser", (name) => {
          const newuser = document.createElement("li");
          newuser.innerText = name;
          usersList.appendChild(newuser);
        })
      </script>
  </body>

</html>