<!DOCTYPE html>
<html lang="en">
  <%- include('partials/scripts.ejs') %>
  <body>
    <%- include('partials/homeHeader.ejs') %>
    <script src="/js/socketio.js"></script>
    <div class="container">
      <div class="row">
        <div class="col">
          <form id="chat-form">
            <p>
              <input id="chat-message" name="chat-message" />
              <button>Send</button>
            </p>
          </form>
          <ul id="messages">

          </ul>
        </div>
      </div>
    </div>
    <script>
      const socket = io();
      
      const form = document.getElementById("chat-form");
      const input = document.getElementById("chat-message");
      const messages = document.getElementById("messages");

      form.addEventListener("submit", (e)=>{
        e.preventDefault();

        if (input.value !== "") {
          socket.emit("chat-message", input.value);
          input.value = "";
        }
      });

      socket.on("message", (message)=>{
        const chatMessage = document.createElement("li");
        chatMessage.innerText = message;
        messages.appendChild(chatMessage);
      })
    </script>
  </body>
</html>